.app {
  background-color: white;
  min-height: 100vh;
  position: relative;

}

.sidebar {
  width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  background: #eee;
  height: 100%;
  overflow-y: auto;
  padding: 50px 30px;
}

.main {
  margin-left: 400px;
  padding: 20px;
  overflow-y: auto;
}
