.blockCounts {
  margin: 10px 0;
}

.block {
  display: inline-block;
  width: 33%;
  margin: 5px 0;

  .count {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }

  svg {
    vertical-align: middle;
  }
}
