.blockList {
  margin: 10px 0;

  .blockCount {
    min-width: 15px;
    margin-left: 10px;
  }

  .block {
    display: inline-block;
    margin-right: 30px;

    svg, .blockCount {
      display: inline-block;
      vertical-align: middle;
    }

  }
}

.instructions {
  margin-top: 50px;
  padding: 0 20px;
  
  p {
    margin: 25px 0 15px;
  }
}
