.blockList {

  .blockCount {
    min-width: 15px;
    margin-left: 10px;
  }

  .block {
    margin: 8px 30px 8px 0;
    display: inline-block;

    svg, .blockCount {
      display: inline-block;
      vertical-align: middle;
    }

  }
}

.instructions {
  margin-top: 50px;
  padding: 0 20px;
  max-width: 700px;

  p {
    margin: 25px 0 15px;
  }
}
