.text-edit {
    background: #eee;
}

.task {
    background: #fff;
    border: 1px solid #ddd;
    padding: 7px 10px;
    position: relative;
    min-height: 50px;

    &:hover {
        .fa-pencil {
            display: block;
        }
    }

    &.dragging {
        background: #ddd;
        color: #ddd;
        .tag-wrap {
            display: none;
        }
    }

    &.task-condensed {
        min-height: auto;
    }

    .fa-pencil {
        display: none;
        position: absolute;
        top: 12px;
        right: 5px;
        opacity: 0.5;
        font-size: 12px;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }

    textarea:focus{
        // background: #000;
        outline: none;
        border: none;
    }

}

.edit-menu {
    position: absolute;
    z-index: 999;
    background: #fff;
    right: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
}
